# AgriPredict AI - External Market API Environment Configuration
# Official Data.gov.in Mandi Price API (Variety-wise Daily Market Prices Data)

MARKET_API_KEY=PASTE_MY_API_KEY_HERE
MARKET_API_URL=https://api.data.gov.in/resource/579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571
